<DIV  class="header">
<h2 id="title">Top level Ember Fire TODO MVC</h2>
{{#link-to 'about'}} about{{/link-to}}
{{#link-to 'messages'}} messages{{/link-to}}

</DIV>
<div class="body">
{{outlet}}
</div>

